@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 1rem;
  padding: 6px 12px;
  width: 100%;
  color: white;
}
header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div ul {
  display: flex;
  gap: 1rem;
}
header div ul li {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
}
main #s1 {
  padding-top: 75px;
}
main #s1 > div {
  display: flex;
  width: 50%;
  height: 100%;
}
main #s1 #s1-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  gap: 1.25rem;
}
main #s1 #s1-left h2 {
  font-family: "Outfit", Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(59, 59, 59, 0.8);
}
main #s1 #s1-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
main #s1 #s1-right img {
  width: 20rem;
}
main #s2 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #s2 > div {
  display: flex;
  width: 100%;
}
main #s2 > div:first-child {
  align-items: center;
  justify-content: center;
  height: 20%;
}
main #s2 > div:first-child h2 {
  text-align: center;
}
main #s2 #setup-container {
  flex: auto;
  justify-content: center;
  align-items: start;
  gap: 0.75rem;
}
main #s2 #setup-container div {
  border: 1px solid black;
  width: 200px;
  padding: 8px;
}
main #s2 #setup-container div ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

@media screen and (max-width: 768px) {
  header div {
    padding: 1rem 0.5rem;
    width: 100%;
  }
  .buttons__burger {
    display: block !important;
  }
  nav {
    position: absolute;
    display: flex;
    top: 60px;
    right: -200px;
    padding: 24px 64px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s right ease-in-out;
  }
  nav ul {
    flex-direction: column;
    width: 100%;
    padding: 0px;
  }
  nav ul a {
    width: 100%;
  }
  nav ul a li {
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  header div {
    padding: 1rem 0.5rem;
    width: 100%;
  }
  .buttons__burger {
    display: block !important;
  }
}
@media screen and (min-width: 992px) {
  header {
    padding: 0px !important;
  }
  header div {
    padding: 1.25rem 2rem;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
.hideBacktoTop {
  display: none !important;
}

.showBacktoTop {
  display: flex;
}

.showNav {
  right: 10px;
}

.hideNav {
  right: -200px;
}

/* botão de menu mobile */
.buttons__burger {
  --size: 2.2rem;
  --clr: #000;
  width: var(--size);
  height: calc(0.7 * var(--size));
  cursor: pointer;
  position: relative;
  display: none;
}
.buttons__burger #burger {
  display: none;
  width: 100%;
  height: 100%;
}
.buttons__burger span {
  display: block;
  position: absolute;
  width: 100%;
  border-radius: 0.5rem;
  border: 3px solid var(--clr);
  background-color: var(--clr);
  transition: 0.15s ease-in-out;
}
.buttons__burger span:nth-of-type(1) {
  top: 0;
  right: 0;
  transform-origin: right center;
}
.buttons__burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.buttons__burger span:nth-of-type(3) {
  top: 100%;
  right: 0;
  transform-origin: right center;
  transform: translateY(-100%);
}
.buttons__burger #burger:checked ~ span:nth-of-type(1) {
  transform: translateY(-30%) rotate(40deg);
  width: 50%;
  top: 50%;
}
.buttons__burger #burger:checked ~ span:nth-of-type(3) {
  transform: translateY(-70%) rotate(-40deg);
  width: 50%;
  top: 50%;
}

/* Botão de voltar ao topo */
.back-btn {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 25px;
  bottom: 25px;
  width: 45px;
  height: 45px;
  background: linear-gradient(#7703ad, #d14bfa);
  border-radius: 50%;
  border: none;
}
.back-btn:hover .text {
  opacity: 1;
  transition-duration: 0.7s;
}
.back-btn:hover .arrow {
  animation: slide-in-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-iteration-count: infinite;
}

.arrow path {
  fill: white;
}

.text {
  font-size: 0.7em;
  width: 100px;
  position: absolute;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -18px;
  opacity: 0;
  transition-duration: 0.7s;
}

/* Animações */
@keyframes slide-in-bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
